{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Vui lòng đăng nhập để xem nội dung hoàn chỉnh.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table><br>
    <input type="submit" value="Đăng nhập" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form><br>
  <p>Nếu chưa có tài khoản vui lòng đăng ký mới, quá trình rất đơn giản, không cần xác nhận qua mail.</p>
  <button><a href="{% url 'signup' %}">Đăng ký</a></button>
{% endblock %}
