{% extends "duoc_lieu_hoc.html" %}
{% block content %}
  <input class="w3-right" id="myInput" type="text" placeholder="Search.."> <br>
  <h3 class="w3-center" style="font-family:'Papyrus'">Danh sách họ thực vật</h3>
  {% if hothucvat_list %}
    <table class="center1" width="95%">
      <tr>
        <th class="tb1 w3-padding w3-light-grey w3-center">Họ tiếng việt</th>
        <th class="tb1 w3-padding w3-light-grey w3-center">Họ latinh</th>
        <th class="tb1 w3-padding w3-light-grey w3-center">Giới thiệu chung</th>
      </tr>
    <tbody id="myTable">
    {% for hothucvat in hothucvat_list %}
      <tr>
        <td class="tb1 w3-center {% if hothucvat.duoclieu_set.count < 1%} w3-text-red {% else %} w3-text-blue {% endif %} w3-padding"><a href="{{hothucvat.get_absolute_url}}">{{ hothucvat.Tieng_viet|upper }}</a></td>
        <td class="tb1 w3-padding"><a href="{{hothucvat.get_absolute_url}}">{{hothucvat.La_tinh}}</a></td>
        <td class="tb1 w3-padding">{{hothucvat.gioi_thieu_chung}}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
    <br>
  {% else %}
    <p>Chưa cập nhật.</p>
  {% endif %}
{% endblock %}
