{% extends "duoc_lieu_hoc.html" %}
{% block content %}
<div class="w3-container">
  <input class="w3-right" id="myInput" type="text" placeholder="Search.."> <br>
  <h3 class="w3-center" style="font-family:'Papyrus'">Danh sách họ thực vật</h3>
  {% if hothucvat_list %}
    <table class="center1" width="95%">
      <tr>
        <th class="tb1 w3-padding w3-light-grey w3-center">Họ Thực vật</th>
        <th class="tb1 w3-padding w3-light-grey w3-center">Thực vật trong họ</th>
      </tr>
    <tbody id="myTable">
    {% for hothucvat in hothucvat_list %}
      <tr>
        <td class="tb1 w3-center w3-padding"><a class="{% if hothucvat.duoclieu_set.count < 1%} w3-text-red {% else %} link {% endif %} w3-padding" href="{{hothucvat.get_absolute_url}}">{{ hothucvat.Tieng_viet|upper }}</a><br>(<strong>{{hothucvat.La_tinh}}</strong>)</td>
        <td class="tb1 w3-padding">
          {% for duoclieu in hothucvat.duoclieu_set.all %}
          <a class="{% if duoclieu.dacdiemvaphanbo_set.count > 0 or duoclieu.tacdungvacongdung_set.count > 0 %} link {% else %} w3-text-red {% endif %}" href="{{duoclieu.get_absolute_url}}">{{duoclieu.ten_tieng_viet}} </a><strong style="font-size: 1.5em">|</strong>
          {% endfor %}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
    <br>
  {% else %}
    <p>Chưa cập nhật.</p>
  {% endif %}
</div>
{% endblock %}
