{% extends "duoc_lieu_hoc.html" %}

{% block content %}
<h3 class="w3-center">{{level0.tieu_de_chinh}}</h3>
<div class="w3-padding">
  {% if level0.level1_set.count > 0 %}
  <ol type="I">
    {% for section in level0.level1_set.all %}
      {% if section.tieu_de_1 is not None %}
      <li><u><strong>{{section.tieu_de_1}}</strong></u>:</li><br>
      {% endif %}
      {% if section.noi_dung is not None %}
      <p>{{section.noi_dung|safe}}</p>
      {% endif %}
      {% if section.level2_set.count > 0 %}
      <ol type="1">
        {% for lv2 in section.level2_set.all %}
          {% if lv2.tieu_de_2 is not None %}
          <li><u><i>{{lv2.tieu_de_2}}</i></u>:</li><br>
          {% endif %}
          {% if lv2.noi_dung is not None %}
          <p>{{lv2.noi_dung|safe}}</p>
          {% endif %}
          {% if lv2.level3_set.count > 0 %}
          <ol type="a">
            {% for lv3 in lv2.level3_set.all %}
              {% if lv3.tieu_de_3 is not None %}
              <li><u>{{lv3.tieu_de_3}}</u>:</li><br>
              {% endif %}
              {% if lv3.noi_dung is not None %}
              <p>{{lv3.noi_dung|safe}}</p>
              {% endif %}
              {% if lv3.level4_set.count > 0 %}
              <ol type="i">
                {% for lv4 in lv3.level4_set.all %}
                  {% if lv4.tieu_de_4 is not None %}
                  <li><u>{{lv4.tieu_de_4}}</u>:</li><br>
                  {% endif %}
                  {% if lv4.noi_dung is not None %}
                  <p>{{lv4.noi_dung|safe}}</p>
                  {% endif %}
                  {% if lv4.level4_set.count > 0 %}
                  <ul>
                    {% for lv5 in lv4.level5_set.all %}
                      {% if lv5.tieu_de_5 is not None %}
                      <li><u>{{lv5.tieu_de_5}}</u>:</li><br>
                      {% endif %}
                      {% if lv5.noi_dung is not None %}
                      <p>{{lv5.noi_dung|safe}}</p>
                      {% endif %}
                    {% endfor %}
                  </ul>
                  {% endif %}
                {% endfor %}
              </ol>
              {% endif %}
            {% endfor %}
          </ol>
          {% endif %}
        {% endfor %}
      </ol>
      {% endif %}
    {% endfor %}
  </ol>
  {% else %}
  <p class="w3-center w3-text-red">Chưa cập nhật.</p>
  {% endif %}
</div>
{% endblock %}
