{% extends "base.html" %}
{% block title %}<title>Dược liệu học</title>{% endblock %}
{% block sidebar %}
  <a class="w3-bar-item fa fa-home w3-large w3-hover-yellow" href="{% url 'home' %}"></a>
  <a class=" fa fa-book w3-bar-item" href="{% url 'level0' %}"><strong>&nbsp;&nbsp;GIÁO TRÌNH</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dược liệu</a>
  {% block sidebar2 %}{% endblock %}
  <hr>
  <a class="fa fa-tree w3-bar-item" href="{% url 'ho-thuc-vat' %}">&nbsp;&nbsp;Họ thực vật</a>
  <a class="fa fa-pagelines w3-bar-item" href="{% url 'duoclieu' %}">&nbsp;&nbsp;Dược liệu</a>
{% endblock %}
{% block content %}
<h2 class="w3-center" style="font-family:Lucida Handwriting">Dược liệu học</h2>
<p class="w3-hide-large"><small>Ấn (☰) góc trên bên trái để vào để xem/chọn đề mục. </small></p>
<div><strong>I. <u>Lời nói đầu</u></strong>:</div>
<div class="w3-margin">
{% if Loi_noi_dau.count < 1 %}
<p class="w3-center w3-text-red">Chưa cập nhật.</p>
{% else %}
  {% for section in Loi_noi_dau %}
  <p>{{section.loi_noi_dau}}</p>
  {% endfor %}
{% endif %}
</div>
<div><strong>II. <u>Tiến độ cập nhật</u></strong>:</div>
    <ul class="center1">
      <li><a class="link" href="{% url 'ho-thuc-vat' %}">Họ thực vật<a>:<span class="w3-text-red"> {{ So_ho_thuc_vat }}</span></li>
      <li><a class="link" href="{% url 'duoclieu' %}">Dược liệu</a>:<span class="w3-text-red"> {{ So_duoc_lieu }}</span></li>
      <li><a class="link" href="{% url 'level0' %}">Giáo trình lý thuyết</a>:<span class="w3-text-red"> {{ So_chuong }}</span></li>
    </ul>
{% endblock %}
