{% extends "base.html" %}

{% block title %}<title>Dược liệu học</title>{% endblock %}
{% block sidebar %}<br>
  <a class="w3-bar-item fa fa-home w3-large w3-hover-yellow w3-center" href="{% url 'home' %}"></a><hr>
  <a class="w3-bar-item" href="{% url 'level0' %}"><strong>GIÁO TRÌNH</strong><br>Dược liệu</a><hr>
  <a class="w3-bar-item" href="{% url 'ho-thuc-vat' %}">Họ thực vật</a>
  <a class="w3-bar-item" href="{% url 'duoclieu' %}">Dược liệu</a>
{% endblock %}
{% block content %}
<h2 class="w3-center" style="font-family:Copperplate"><i>Dược liệu học</i></h2>
<ol type="I">
  <li><u><strong>Lời nói đầu</strong></u>:
    <ul><br>
      <li>some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words </li><br>
      <li>some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words </li><br>
      <li>some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words </li><br>
      <li>some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words </li>
    </ul>
  </li><br>
  <li><u><strong>Tiến độ cập nhật</strong></u>:
    <ul class="center1"><br>
      <li>Số họ thực vật:<strong class="w3-text-red"> {{ So_ho_thuc_vat }}</strong></li><br>
      <li>Số dược liệu:<strong class="w3-text-red"> {{ So_duoc_lieu }}</strong></li><br>
      <li>Giáo trình lý thuyết:<strong class="w3-text-red"> {{ So_chuong }}</strong> Chương</li>
    </ul>
  </li>
</ol>

{% endblock %}
