{% extends "duoc_lam_sang.html" %}
{% block content %}
  <h3 class="w3-center" style="font-family:'Papyrus'">Mục lục giáo trình dược lâm sàng</h3>
  {% if level0_list %}
  <table class="tb1 center1" width="95%">
    <tr>
      <th class="tb1 w3-center w3-light-grey">Chương</th>
      <th class="tb1 w3-center w3-light-grey">Mục tiêu</th>
    </tr>
    {% for level0 in level0_list %}
    <tr>
      <td class="tb1 {% if level0.level1_set.count < 1 %} w3-text-red {% else %} w3-text-blue {% endif %} w3-padding"><a href="{{level0.get_absolute_url}}">{{level0.tieu_de_chinh|safe}}</a></td>
      <td class="tb1  w3-padding">{{level0.noi_dung|safe}}</td>
    <tr>
    {% endfor %}
  </table>
  <br>
  {% else %}
  <p class="w3-center w3-text-red">Chưa cập nhật</p>
  {% endif %}
{% endblock %}
