{% extends "base.html" %}

{% block title %}<title>Độc chất học</title>{% endblock %}
{% block sidebar %}
  <a class="w3-bar-item fa fa-home w3-large w3-hover-yellow w3-center" href="{% url 'home' %}"></a>
  <a class="w3-bar-item" href="{% url 'dch-level0' %}"><strong>GIÁO TRÌNH</strong><br>Độc chất học</a><hr>
{% endblock %}
{% block content %}
<h2 class="w3-center" style="font-family:Copperplate"><i>Độc chất học</i></h2>
<div><strong>I. <u>Lời nói đầu</u></strong>:</div>
<div class="w3-margin">
  <p>Alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba </p>
  <p>Alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba </p>
  <p>Alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba </p>
  <p>some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words </p>
</div>
<div><strong>II. <u>Tiến độ cập nhật</u></strong>:</div>
    <ul class="center1"><br>
      <li>xxxxxxxxxxxx</li><br>
      <li>xxxxxxxxxxxx</li><br>
      <li>xxxxxxxxxxxx</li>
    </ul>

{% endblock %}
