{% extends "base.html" %}

{% block title %}<title>Hoá dược</title>{% endblock %}
{% block sidebar %}
  <a class="w3-bar-item fa fa-home w3-large w3-hover-yellow w3-center" href="{% url 'home' %}"></a>
  <a class="w3-bar-item" href="{% url 'hd-level0' %}"><strong>GIÁO TRÌNH</strong><br>Hoá dược</a><hr>
{% endblock %}
{% block content %}
<h2 class="w3-center" style="font-family:Copperplate"><i>Hoá dược</i></h2>
<ol type="I">
  <li><u><strong>Lời nói đầu</strong></u>:
    <ul><br>
      <li>some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words </li><br>
      <li>some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words </li><br>
      <li>some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words </li><br>
      <li>some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words </li>
    </ul>
  </li><br>
  <li><u><strong>Tiến độ cập nhật</strong></u>:
    <ul class="center1"><br>
      <li>xxxxxxxxxxxx</li><br>
      <li>xxxxxxxxxxxx</li><br>
      <li>xxxxxxxxxxxx</li>
    </ul>
  </li>
</ol>

{% endblock %}
