{% extends "base.html" %}

{% block title %}<title>Hoá dược</title>{% endblock %}
{% block sidebar %}
  <a class="w3-bar-item fa fa-home w3-large w3-hover-yellow w3-center" href="{% url 'home' %}"></a>
  <a class="w3-bar-item" href="{% url 'hd-level0' %}"><strong>GIÁO TRÌNH</strong><br>Hoá dược</a><hr>
{% endblock %}
{% block content %}
<h2 class="w3-center" style="font-family:Copperplate"><i>Hoá dược</i></h2>
<p class="w3-hide-large"><i><small>Ấn (☰) góc trên bên trái để vào để xem/chọn đề mục. </small></i></p>
<div><strong>I. <u>Lời nói đầu</u></strong>:</div>
<div class="w3-margin">
  <p class="w3-text-red">Chưa cập nhật.</p>
</div>
<div><strong>II. <u>Tiến độ cập nhật</u></strong>:</div>
    <ul class="center1"><br>
      <p class="w3-text-red">Chưa cập nhật.</p>
    </ul>
{% endblock %}
