{% extends "base.html" %}
{% block style %}
  ul.a {list-style-type: circle;}
  ul.b {list-style-type: square;}
{% endblock %}
{% block content %}
  <h2 class="w3-center" style="font-family:Copperplate"><i>Tổng quan nội dung</i></h2>
  <ol type="I">
    <li><u><strong>Lời nói đầu</strong></u>:
    </li>
    <ul><br>
      <li>Alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba </li><br>
      <li>Alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba </li><br>
      <li>Alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba alibaba </li><br>
      <li>some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words some words </li>
    </ul>
    <li><u><strong>Bảng số liệu thống kê tự động cập nhật</strong></u>:
    </li>
  </ol>
  <table style="font-family:Copperplate" class="tb1 center1" width = "95%">
    <tr>
      <td style="vertical-align: text-top" class="tb1" width = "33%">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>Dược liệu học</u></strong></div>
        <ul class="a">
          <li>Số họ thực vật:<span class="w3-text-red"> {{ So_ho_thuc_vat }}</span></li><br>
          <li>Số dược liệu:<span class="w3-text-red"> {{ So_duoc_lieu }}</span></li><br>
          <li>Giáo trình lý thuyết:<span class="w3-text-red"> {{ So_chuong }}</span> Chương</li>
        </ul>
      </td>
      <td style="vertical-align: text-top" class="tb1" width = "33%">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>Hoá dược</u></strong></div>
        <ul class="a">
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span> Chương</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: text-top" class="tb1" width = "33%">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>Dược lý</u></strong></div>
        <ul class="a">
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span> Chương</li>
        </ul>
      </td>
      <td style="vertical-align: text-top" class="tb1">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>Dược lâm sàng</u></strong></div>
        <ul class="a">
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span> Chương</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: text-top" class="tb1">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>Hoá lý</u></strong></div>
        <ul class="a">
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span> Chương</li>
        </ul>
      </td>
      <td style="vertical-align: text-top" class="tb1">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>Kiểm nghiệm</u></strong></div>
        <ul class="a">
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span> Chương</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: text-top" class="tb1">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>Độc chất học</u></strong></div>
        <ul class="a">
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span> Chương</li>
        </ul>
      </td>
      <td style="vertical-align: text-top" class="tb1">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>Công nghiệp dược</u></strong></div>
        <ul class="a">
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span> Chương</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: text-top" class="tb1">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>XXXXXX</u></strong></div>
        <ul class="a">
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span> Chương</li>
        </ul>
      </td>
      <td style="vertical-align: text-top" class="tb1">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>XXXXXX</u></strong></div>
        <ul class="a">
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span> Chương</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: text-top" class="tb1">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>XXXXXX</u></strong></div>
        <ul class="a">
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span> Chương</li>
        </ul>
      </td>
      <td style="vertical-align: text-top" class="tb1">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>XXXXXX</u></strong></div>
        <ul class="a">
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span></li><br>
          <li>XXXXXXXXXXXX:<span class="w3-text-red"> X</span> Chương</li>
        </ul>
      </td>
    </tr>
  </table>

{% endblock %}
