{% extends "base.html" %}
{% block content %}
<div><strong>I. <u>Sứ mệnh</u></strong>:</div>
<div>
  <ul>
    <li>Vấn đề đầu tiên cho mọi vấn đề sức khoẻ không phải là thuốc hay khả năng kinh tế mà là sự hiểu biết. Nếu từng người có đủ kiến thức để tự chăm sóc sức khoẻ cho bản thân thì sẽ giảm đáng kể gánh nặng tài chính cho bản thân và gánh nặng y tế cho xã hội.</li>
    <li>Nhận thấy thông tin về thuốc và sức khoẻ hiện tại trên internet cực kỳ hỗn loạn, thiếu thống nhất. Nên mục tiêu quan trọng nhất của nền tảng web này là cung cấp đến người Việt thông tin chuyên nghiệp, khoa học và cập nhật nhất về thuốc và các vấn đề sức khoẻ nói chung.</li>
    <li>Kết nối với những người giỏi nhất để cho ra sản phẩm thông tin tốt nhất.</li>
    <li>Liên kết với các công ty dược tốt nhất trên lãnh thổ Việt Nam, nhằm cung cấp cho bệnh nhân / người dùng thuốc, thuốc tốt nhất với giá cả hợp lý nhất.</li>
  </ul>
</div>
<div><strong>II. <u>Cách thức xây dựng thông tin</u></strong>:</div>
  <ul>
    <li>Xây dựng mô hình web cho từng phần nội dung theo <a class="link" href="https://www.djangoproject.com/">Django framework</a>.</li>
    <li>Tìm kiếm những người có chuyên môn phù hợp nhất để quản lý và cập nhật thông tin.</li>
    <li>Đăng nhập admin site, cập nhật và hoàn thiện nội dung theo thời gian.</li>
  </ul>
<div><strong>III. <u>Cách thức tra cứu thông tin</u></strong>:</div>
  <ul>
    <li>Thông tin được xây dựng theo môn học trong chương trình đào tạo dược sĩ đại học với những kiến thức cơ bản nhất.</li>
    <li>Bổ sung những thông tin có giá trị thực tiễn và ứng dụng cao trong đời sống nhằm cũng cấp đến những người bình thường (không phải dược sĩ) những kiến thức hữu ích để có thể tự chăm sóc bản thân và gia đình.</li>
    <li>Cập nhật những thông tin về thuốc và kiến thức y học mới nhất trên thế giới (giành cho dược sĩ).</li>
  </ul>
<div><strong>IV. <u>Phân quyền</u></strong>:</div>
<ul>
  <li><bl>Cấp 1</bl>: Người xem vãng lai - Chưa đăng ký tài khoản. Được xem các phần nội dung phổ cập / công khai.</li>
  <li><bl>Cấp 2</bl>: Có tài khoản - đã đăng ký tài khoản. Được xem các phần nội dung giới hạn.</li>
  <li><bl>Cấp 3</bl>: Student - tài khoản được phân quyền. Được phép truy cập các nội dung học thuật giành cho sinh viên chuyên ngành dược / có chuyên môn về y tế.</li>
  <li><bl>Cấp 4</bl>: Professor / cộng tác viên - Tham gia xây dựng nội dung. Được phân bổ một bộ phận để quản lý và cập nhật nội dung. Có tất cả các quyền của cấp 1, 2, 3.</li>
  <li><bl>Cấp 5</bl>: Admin - Xây dựng trang web, hợp tác với cấp 4 để xây dựng mô hình, phân quyền cho các tài khoản phù hợp.</li>
</ul>
<div><strong>V. <u>Bảng số liệu thống kê tiến độ tự động cập nhật</u></strong>:</div><br>
  <table class="tb1 center1">
    <tr>
      <td style="vertical-align: text-top" class="tb1 w3-padding" width = "50%">
        <div class="w3-center w3-text-blue"><strong>Dược liệu học</strong></div><hr class="hr-black">
        <ul class="a padding-10px">
          <li><a class="link" href="{% url 'ho-thuc-vat' %}">Họ thực vật<a>:<span class="w3-text-red"> {{ So_ho_thuc_vat }}</span></li>
          <li><a class="link" href="{% url 'duoclieu' %}">Dược liệu</a>:<span class="w3-text-red"> {{ So_duoc_lieu }}</span></li>
          <li><a class="link" href="{% url 'level0' %}">Giáo trình lý thuyết</a>:<span class="w3-text-red"> {{ So_chuong }}</span></li>
        </ul>
      </td>
      <td style="vertical-align: text-top" class="tb1" width = "50%">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>Hoá dược</u></strong></div>
        <p class="w3-center w3-text-red"><small><i>Chưa cập nhật</i></small></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: text-top" class="tb1">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>Dược lý</u></strong></div>
        <p class="w3-center w3-text-red"><small><i>Chưa cập nhật</i></small></p>
      </td>
      <td style="vertical-align: text-top" class="tb1">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>Dược lâm sàng</u></strong></div>
        <p class="w3-center w3-text-red"><small><i>Chưa cập nhật</i></small></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: text-top" class="tb1">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>Hoá lý</u></strong></div>
        <p class="w3-center w3-text-red"><small><i>Chưa cập nhật</i></small></p>
      </td>
      <td style="vertical-align: text-top" class="tb1">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>Kiểm nghiệm</u></strong></div>
        <p class="w3-center w3-text-red"><small><i>Chưa cập nhật</i></small></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: text-top" class="tb1">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>Độc chất học</u></strong></div>
        <p class="w3-center w3-text-red"><small><i>Chưa cập nhật</i></small></p>
      </td>
      <td style="vertical-align: text-top" class="tb1">
        <div class="w3-center w3-padding w3-text-blue"><strong><u>Công nghiệp dược</u></strong></div>
        <p class="w3-center w3-text-red"><small><i>Chưa cập nhật</i></small></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: text-top" class="tb1">

        <p class="w3-center w3-text-red"><small><i>Chưa cập nhật</i></small></p>
      </td>
      <td style="vertical-align: text-top" class="tb1">

        <p class="w3-center w3-text-red"><small><i>Chưa cập nhật</i></small></p>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: text-top" class="tb1">

        <p class="w3-center w3-text-red"><small><i>Chưa cập nhật</i></small></p>
      </td>
      <td style="vertical-align: text-top" class="tb1">

        <p class="w3-center w3-text-red"><small><i>Chưa cập nhật</i></small></p>
      </td>
    </tr>
  </table><br>
{% endblock %}
